extends layout

block body
    main
        h1 Upupup
        p#subtitle Easily upload files to my server.

        hr

        a.button(href='/files') Display All Files

        hr

        form(action='/upload' enctype='multipart/form-data' method='post')
            fieldset
                label() Select files to upload: <br><br>
                    input(type='file' name='upload' multiple='multiple')
            input(type='submit' value='Upload')

        hr
